$primary-background-color: #F5F5F5;
$secondary-background-color: #F0F0F0;
$background-color-3: #DDD;
$inverse-background-color: #fff;
$primary-font-color: #000;
$hyperlink-font-color: #fff;
$primary-border-color: #CFD8DC;
$secondary-border-color: #dfe0e0;
$primary-font: "Roboto";

//Navigation Colours
$navbar-color: #263238;
$side-nav-color: #CFD8DC;

//Button Colours
$btn-default-color: #546E7A;
$btn-default-hover-color: #455A64;
$btn-highlight-color: #607D8B;
$btn-highlight-hover-color: #78909C;
$btn-danger-color: #D50000;
$btn-danger-hover-color: #B71C1C;
$btn-success-color: #388E3C;
$btn-success-hover-color: #1B5E20;

/*
 * Base structure
 */
@import url('http://fonts.googleapis.com/css?family=Roboto');

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: $primary-background-color;
  font-family: $primary-font;
  color: $primary-font-color;
  margin-left: 10px;
}
.login-body {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $navbar-color;
  height: 100%;
  width: 100%;
}

/*
 * Main content
 */
.main {
  padding: 20px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 100%;
  }
}
.main .page-header {
  margin-top: 25px;
  margin-left: 20px;
  font-weight: 100;
  max-width: 88%;
  border-bottom: 2px solid $primary-border-color;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.huge {
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
.div-align-right {
  float: right;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.pagination>li>a, .pagination>li>a:hover, .pagination>li>a:active {
  color: #000;
}
.pagination>li:first-child>a {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.pagination>li:last-child>a {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.pagination {
  border: solid 0.12em #cfcfcf;
  background-color: #607D8B;

}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #607D8B;
  border-color: #607D8B;
}


.align-right {
  float:right;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
