.modal-body {
  padding-left: 35px;
  padding-right: 35px;

  label {
    font-weight: 400;
  }
}

.modal-order-body {
  padding-top:20px;
  padding-left: 20px;
  padding-right: 20px;
}

div.modal-text {
  width: 80%;
}

.modal-title {
  font-weight: 300;
}

.modal-detail-container {
  padding-left: 20px;
  padding-right: 20px;

  span {
    letter-spacing: 1px;

  }

  h4 {
    font-size: 16px;
  }
}
