/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  background-color: $navbar-color;
  color: $primary-font-color;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.navbar-header {
  .navbar-brand {
    margin: 10px;
    color: #fff;
    letter-spacing: 0.1em;
    font-size: 18px;
    img {
      display: inline-block;
      margin-top: -7px;
      margin-left: 25px;
      max-width: 190px;
      padding: 0px;

    }
    @media screen and (max-width: 768px) {
      img {
        margin-left: 0px;
        width: 150px;
        margin-top: -4px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    a.navbar-brand {
      font-size: 14px;
    }
  }
}
.navbar-header img:hover,
.navbar-header img:active,
.navbar-header img:focus,
.navbar-header a:hover {
  -webkit-filter: invert(15%);
}
.navbar-collapse .nav li {
  padding: 10px 5px;
  height: 70px;
  @include border-radius(2px);
  &:hover {
    background-color: $btn-default-hover-color;
  }
  a, a:focus, a:active {
    color: #fff;
    font-weight: 300;
  }
  @media screen and (max-width: 600px) {
    a {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar-collapse .nav li {
    height: 40px;
    margin: 0 auto;
    display: inline-block;
  }
  .navbar-nav {
    margin-left: 20px;
  }
  .navbar-nav>li>a {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
  }
}
.navbar-right {
  margin-right: 30px;
}
.navbar-toggle {
  border: none;
  margin-top: 16px;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background: none;
}
@media screen and (max-width: 768px) {
  .hide {
    display: block!important;
    visibility: visible;
    display: none;
  }
  a.hide {
    width: 10px;
  }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:visited{
  border-radius: 1px;
}

@media screen and (max-width: 768px) {
  .nav-tabs>li>a,
  .nav-tabs>li>a:focus,
  .nav-tabs>li>a:hover,
  .nav-tabs>li>a:visited{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.nav-tabs>li, .nav-tabs>li:active, .nav-tabs>li:hover {
  border-radius: 1px;
  a {
    color: #000;
  }
}
