.panel {
  max-width: 95%;
  height: 100%;
  border-color: $primary-border-color;
  background-color: $secondary-background-color;
  border-radius: 3px;
  border: none;

}
@media (min-width: 1000px) {
  .panel {
    max-width: 85%;
  }
}

.panel-body {
  padding: none;
  margin-left: 0;
  background-color: $secondary-background-color;
  border-color: $primary-border-color;
  border-radius: 3px;

  .panel-setting-heading {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
  }
}

.panel-login-body {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:20px;
  margin-left: 0;
  background-color: $secondary-background-color;
  border-color: $primary-border-color;
  border-radius: 3px;

}

.panel-scroll {
  @extend .panel-body;
  height: 500px;
  overflow-y: scroll;
}

.panel-footer {
  background-color: #EEEEEE;
}

.panel-setting {
  padding-top:50px;
  padding-bottom:20px;
}

.panel-login {
  margin-top: 100px;
}

.panel-default {
  .panel-heading {
    text-align: left;
  	font-size: 18px;
  	font-weight: 300;
  	letter-spacing: 0.025em;
  	height: 40px;

    .panel-title {
      text-align:center;
      line-height: 20px;
    }
  }
}
