table {
  border-collapse: separate;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  font-family: $primary-font;


  th {
     font-weight: 400;
 }
  td {
     font-weight: 300;
     vertical-align: middle;
 }
}


.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
  text-align: center;
}




@media screen and (max-width: 768px) {
  .table-card-responsive {
    border: hidden;
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
      vertical-align: middle;
      text-align: right;
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th {
      background-color: #fff;
      border-bottom: none;
    }

    .table-responsive {
      border: hidden;
    }
    table {
      border: 1px solid $primary-background-color;
    }

    table thead {
      display: none;
    }
    table tr {
      margin-bottom: 0px;
      display: block;
    }
    
    table tr {
      border-bottom: 2px dotted #BDBDBD;
    }
    table tr:last-child {
      border-bottom: none;
    }
    table td {
      content: attr(data-label);
      display: block;
      font-size: 13px;
    }
    table td:before {
      content: attr(data-label);
      font-weight: 400;
      vertical-align: middle;
      float: left;
    }
  }
}
table.table-button-wrapper td {
  background-color: #000;
}

.table-edit {
  float:right;
}
