.settings-header {
    border: 1px solid #e1e8ed;
    border-bottom-width: 0;
    border-radius: 6px 6px 0 0;
    background-clip: padding-box;

    .header-inner {
        // min-height: 20px;
        // padding: 12px;
        // background-color: #fff;
        border-bottom: 1px solid #e1e8ed;
        border-radius: 4px 4px 0 0;

        h2 {
            // color: #66757f;
            font-size: 18px;
            font-weight: 300;
            // line-height: 22px;
            text-align: left

        }

        p {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            text-align: left
        }
    }

}
