<div class="col-sm-3 col-md-2 sidebar">
    <ul ng-controller="SideNavCtrl" class="nav nav-sidebar">
        <li><div class="sidebar-border"><h1>
          <!--<input class="form-control search-side-nav" type="text" maxlength="15"  placeholder="Search"></input>-->
          Account Settings
        </h1></li>
        <li>&nbsp;</li>
        <li><a ng-class="{activeTab: state.includes('dashboard.settings.general')}" ui-sref=".general">General</a></li>
        <li><a ng-class="{activeTab: state.includes('dashboard.settings.fishery')}" ui-sref=".fishery">Fishery</a></li>
        <li><a ng-class="{activeTab: state.includes('dashboard.settings.users')}" ui-sref=".users">Users</a></li>
    </ul>
</div>

<div ui-view></div>
