<div class="col-lg-12">
  <h2 class="page-header light-text text-center"></h2>
  <div class="row placeholders">
      <!--
        <div class="col-lg-8">  CENTER ON COMPUTER SCREEN
        -->
      <div class="container">
        <div class="panel-container">
          <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-heading">
                  <h3>Help Page</h3>
                  <hr class = "short">
                </div>
                <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O9T-e-iIA1Y" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
          </div>
        </div>
      </div>
  </div>
</div>
