<div class="col-lg-10 main" ng-controller="TrackInventoryMenuCtrl">
  <div class="card-panel">
    <div class="card-panel-header">
      <h2>Track Inventory</h2>
    </div>
    <div class="table-responsive table-card-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date Created</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="supplyChain in supplyChains track by $index">
            <td data-label="Name">{{supplyChain.name}}</td>
            <td data-label="Date Created">{{supplyChain.dateCreated | date: 'short'}}</td>
            <td data-label="Details">
                <button ng-click="setSupplyChain(supplyChain)" class="{{tutorial.pointer('inventory') ? 'btn-tutorial-default' : 'btn-status-default'}}"><i class="fa fa-search"></i> View/Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
