<div ng-controller="UserSettingsCtrl">
  <div class="col-lg-10 main">
    <div class="card-panel">
      <div class="card-panel-header">
        <h2>User Settings</h2>
        <div class="card-panel-options">
          <button ng-disabled="isInviteDisabled" ng-click="inviteUser()" class="btn-status-success"><i class="fa fa-plus"></i> Invite New User</button>
        </div>
      </div>
      <div class="table-responsive table-card-responsive">
        <table class="table ">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Account Type</th>
              <th>Email</th>
              <th>Name</th>
              <th>Date Added</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users track by $index">
              <!-- <td data-label="Select">
                <input type="radio" ng-model="$parent.selectedUser" ng-value="$parent.users[$index]">
              </td> -->
              <td data-label="Invoice">&nbsp; {{user.username}}</td>
              <td data-label="Name">&nbsp; {{user.accountType}}</td>
              <td data-label="Status">&nbsp;{{user.email}}</td>
              <td data-label="Status">&nbsp;{{user.name}}</td>
              <td data-label="Status">&nbsp;{{user.dateCreated | date: 'short'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="inviteUser.html">
  <div class="modal-header">
    <h3 class="modal-title">Add user to fishery</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset class="form-group">
        <label>Email Address</label>
        <input class="form-control" ng-model="email" placeholder="i.e. coastline@fish.com">
      </fieldset>
      <fieldset class="form-group">
          <label>Account Type</label>
          <select name="mydropdown" class="form-control" ng-model="accountType">
            <option value="admin">admin</option>
            <option value="staff">staff</option>
          </select>
          <small class="text-muted">Please choose between the two options.</small>
    </fieldset>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-status-success" type="button" ng-click="ok()">Submit</button>
    <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
