<div class="col-sm-3 col-md-2 sidebar">
    <ul ng-controller="SideNavCtrl" class="nav nav-sidebar">
        <li><a ng-class="{activeTab: state.includes('dashboard.default.overview')}" ui-sref=".overview">Overview <div class="{{tutorial.pointer('overview', 'right')}}"></div></a></li>
        <li><a ng-class="{activeTab: state.includes('dashboard.default.products')}" ui-sref=".products">Products <div class="{{tutorial.pointer('products', 'right')}}"></div></a></li>
        <li><a ng-class="{activeTab: state.includes('dashboard.default.supply-chain')}" ui-sref=".supply-chain.menu">Supply Chain <div class="{{tutorial.pointer('supply-chain', 'right')}}"></div></a></li>
        <li><a ng-class="{activeTab: state.includes('dashboard.default.inventory')}" ui-sref=".inventory.menu">Inventory <div class="{{tutorial.pointer('inventory', 'right')}}"></div></a></li>
        <li><a ng-class="{activeTab: state.includes('dashboard.default.orders')}" ui-sref=".orders.menu">Orders <div class="{{tutorial.pointer('orders', 'right')}}"></div></a></li>
        <li><a ng-class="{activeTab: state.includes('dashboard.default.customers')}" ui-sref=".customers.menu">Customers <div class="{{tutorial.pointer('customers', 'right')}}"></div></a></li>
        <li><a ng-class="{activeTab: state.includes('dashboard.default.ecommerce')}" ui-sref=".ecommerce">E-commerce <div class="{{tutorial.pointer('ecommerce', 'right')}}"></div></a></li>
    </ul>
</div>

<div ui-view></div>
