<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <br><br>
    <div class="col-lg-8">
      <div class="container">
      <div class="panel-container">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-setting-heading">
              <h1>Managing Customers and Add Invoices</h1>
              <hr class="short">
            </div>
            <div class="row">
              <div class="col-lg-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cQ4Pl2Bwm9M?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="col-lg-6">
                <h4>Please refer to this video for a demonstration on how to add a seafood product.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
