<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="page-header light-text">Home</h2>
  <div class="row placeholders">
    <div class="col-lg-8">
      <div class="container">
        <div class="panel-container">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="panel-header">
              </div>
              <!--<div class="panel-scroll">-->
              <div class="col-lg-6">
                <h3>Outstanding Payments Due in Two Weeks</h3>
                <hr class="short">
                <div class="table-responsive">
                  <table class="table tableWhite">
                    <thead>
                      <tr>
                        <th>Invoice #</th>
                        <th>Date (MM/DD/YYYY)</th>
                        <th>View Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1,010</td>
                        <td>Subscription Pickup</td>
                        <td>
                          <div class="alignright">
                            <button ng-click="viewOrderDetail(order)" class="btn-dashboard">View Details</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-6">
                <h3>Payments Due in Two Weeks</h3>
                <hr class="short">
                <div class="table-responsive">
                  <table class="table tableWhite">
                    <thead>
                      <tr>
                        <th>Invoice #</th>
                        <th>Date (MM/DD/YYYY)</th>
                        <th>View Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1,010</td>
                        <td>Subscription Pickup</td>
                        <td>
                          <div class="alignright">
                            <button ng-click="viewOrderDetail(order)" class="btn-dashboard">View Details</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
