<div class="col-lg-12">
  <h2 class="page-header light-text text-center"></h2>
  <div class="row placeholders">
    <!--
        <div class="col-lg-8">  CENTER ON COMPUTER SCREEN
        -->
    <div class="container">
      <div class="panel-container">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-heading">
              <h1>Coastline Quick Start Guide</h1>
              <hr class="short">
            </div>
            <div class="row">
              <div class="col-lg-6" align="left">
                <h3>Creating a supply Chain</h3>
                <h4>1. Click the <i>Supply Chain</i> tab</h4>
                <h4>2. Click the <i>Create Supply Chain</i> button and give it a name</h4>
                <h4>3. Click the <i>Add</i> button to add the first intermediary in your supply chain</h4>
                <h4>4. Name your first intermediary, and press the green <i>OK</i> button</h4>
                <h4>5. Repeat steps (3) and (4), and choose the source intermediary from the <i>
                  Previous Stage</i> Dropdown</h4>
                <h4>6. Click <i>Save</i></h4>
              </div>
              <div class="col-lg-6">
                <img class="instructionImg" src="../img/create-chain.png"></img>
              </div>
            </div>
            <div class="row">
              <br>
              <div class="col-lg-6" align="left">
                <h3>Adding a Prodct</h3>
                <h4>1. Click the <i>Products</i> tab</h4>
                <h4>2. Click the <i>Add Product</i> button</h4>
                <h4>3. Fill out the info & Click <i>Submit</i></h4>
              </div>
              <div class="col-lg-6">
                <img class="instructionImg" src="../img/add-product.png"></img>
              </div>
            </div>

            <div class="row">
              <br>
              <div class="col-lg-6" align="left">
                <h3>Adding an Inventory Batch</h3>
                <h4>1. Click the <i>Inventory</i> tab</h4>
                <h4>2. Choose your desired supply chain by clicking <i>View/Edit</i></h4>
                <h4>3. From the visual supply chain, click the intermediary you'd like to add the batch to</h4>
                <h4>4. Once the destination is highlighted, click <i>View/Edit Inventory</i></h4>
                <h4>5. Click the <i>Add</i> button</h4>
                <h4>6. Fill out the info & Click <i>OK</i></h4>
              </div>
              <div class="col-lg-6">
                <img class="instructionImg" src="../img/add-batch.png"></img>
              </div>
            </div>

            <div class="row">
              <br>
              <div class="col-lg-6" align="left">
                <h3>Moving Your Inventory</h4>
                  <h4>1. Click the <i>Inventory</i> tab</h4>
                  <h4>2. Choose your desired supply chain by clicking <i>View/Edit</i></h4>
                  <h4>3. From the visual supply chain, click the source intermediary</h4>
                  <h4>4. Once the destination is highlighted, click <i>View/Edit Inventory</i></h4>
                  <h4>5. Choose desired inventory batch</h4>
                  <h4>6. Click the <i>Move</i> button</h4>
                  <h4>7. From the <i>Move to Stage</i> dropdown, click target intermediary</h4>
                  <h4>5. Click the <i>OK</i> button</h4>
              </div>
              <div class="col-lg-6">
                <img class="instructionImg" src="../img/move-batch.png"></img>
              </div>
            </div>

            <div class="row">
              <br>
              <div class="col-lg-6" align="left">
                <h3>Creating a Selling Point</h3>
                <h4>1. Click the <i>Sales Channels</i> tab</h4>
                <h4>2. Choose your desired supply chain by clicking <i>View/Edit</i></h4>
                <h4>3. Click <i>Add Sales Channel</i></h4>
                <h4>4. Enter your desired Selling Point Name</h4>
                <h4>[OPTIONAL]: Check <i>Sell on e-commerce</i> to upload product to Coastline Market Shop</h4>
                <h4>5. Click the <i>Ok</i> button</h4>
              </div>
              <div class="col-lg-6">
                <img class="instructionImg" src="../img/sell-point.png"></img>
              </div>
            </div>

            <div class="row">
              <br>
              <div class="col-lg-6" align="left">
                <h3>Traceability from Catch to Consumer</h3>
                <h4>1. Click the <i>Inventory</i> tab</h4>
                <h4>2. Choose your desired supply chain by clicking <i>View/Edit</i></h4>
                <h4>3. Click the source intermediary</h4>
                <h4>4. You'll be presented with all the inventory batches in that intermediary</h4>
                <h4>5. Choose desired inventory batch you would like to trace</h4>
                <h4>6. Click the <i>View Details</i> button</h4>
                <h4>7. The new window will display the historical data of the fish, along with its catcher and origin</h4>
              </div>
              <div class="col-lg-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O9T-e-iIA1Y" frameborder="0" allowfullscreen></iframe>

              </div>
            </div>

            <hr class="short">

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
