<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="page-header light-text">Track Inventory</h2>
  <div class="row placeholders">
    <div class="col-lg-8">
      <div class="container">
        <div class="panel-container">
          <div class="panel panel-default">
            <div ng-controller="InventoryCtrl" class="panel-body">
              <button ng-click="viewBlocks()" class="btn-status-default">View/Edit Inventory</button>
            </div>
          </div>
          <div ng-controller="SupplyChainDisplayCtrl" class="panel panel-default">
            <div class="panel-body" style="height:500px">
              <vis-network-track data="data" options="options" events="events" height="500px"></vis-network-track>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- VIEW INVENTORY MODAL-->
<script type="text/ng-template" id="viewBlocksModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Inventory in {{stageName}}</h3>
  </div>
  <div class="modal-footer">
    <button class="btn-status-default" type="button" ng-disabled="blocks.length==0" ng-click="moveBlock()">Move</button>
    <button class="btn-status-default" type="button" ng-disabled="blocks.length==0" ng-click="moveBlockToSales()">Move to Sales</button>
    <button class="btn-status-default" type="button" ng-disabled="blocks.length==0" ng-click="viewDetails()">Batch Detail</button>
    <button class="btn-status-default" type="button" ng-disabled="blocks.length==0" ng-click="editBlock()">Edit</button>
    <button class="btn-status-success" type="button" ng-click="addBlock()">Add</button>
    <button class="btn-status-danger" type="button" ng-disabled="blocks.length==0" ng-click="deleteBlock()">Delete</button>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table tableWhite">
            <thead>
              <tr>
                <th>#</th>
                <th>Product Type</th>
                <th>Quantity</th>
                <th>Inventory Input Date</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody ng-repeat="block in blocks track by $index">
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{block.productType.name}}</td>
                <td>{{block.quantity + " " + block.units}}</td>
                <td>{{block.dateCreated | date: 'short'}}</td>
                <td>
                  <input type="radio" ng-model="$parent.selectedBlock" ng-value="$index">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn-status-default" type="button" ng-click="ok()">Dismiss</button>
  </div>
</script>


<!-- ADD BATCH MODAL-->
<script type="text/ng-template" id="addBlockModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Add Seafood Batch</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset class="form-group">
        <div class="col-lg-6">
          <label>Product Type</label>
          <select class="form-control" ng-model="selectedProduct" ng-options="product.name for product in products"></select>

          <small class="text-muted">Item must be added under Products tab.</small>
        </div>
        <div class="col-lg-6">
          <label>Quantity</label>
          <input class="form-control" ng-model="quantity" type="number" placeholder="ex. 4000">
          <small class="text-muted">Please enter a numerical value.</small>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-lg-6">
          <label>Units</label>
          <select name="mydropdown" class="form-control" ng-model="units">
            <option value="lbs">lbs</option>
            <option value="half lbs">1/2 lbs</option>
            <option value="kg">kg</option>
          </select>
          <small class="text-muted">Please choose between the three options.</small>
        </div>
        <div class="col-lg-6">
          <label>Catch Date</label>
          <input class="form-control" ng-model="catchDate" type="date" placeholder="ex. 5/14/2016">
          <small class="text-muted">MM/DD/YYYY</small>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-lg-6">
          <label>Catch Region</label>
          <input class="form-control" ng-model="catchRegion" placeholder="ex. 48°N, 61.5°W, Gulf of St. Lawrence">
          <small class="text-muted">Latitude, Longitude, Ocean</small>
        </div>
        <div class="col-lg-6">
          <label>Caught By</label>
          <input class="form-control" ng-model="caughtBy" placeholder="ex. Joey Fisher">
          <small class="text-muted">Enter in the fisherman/fishery</small>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-lg-6">
          <label>Catch Type</label>
          <input class="form-control" ng-model="catchType" placeholder="ex. Gillnetting">
          <small class="text-muted">Enter the method of catching.</small>
        </div>
        <div class="col-lg-6">
          <label>Water Depth (Meters)</label>
          <input class="form-control" ng-model="waterDepth" type="number" step="1" placeholder="ex. 500">
          <small class="text-muted">Enter the water depth in meters.</small>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-status-success" type="button" ng-click="ok()">OK</button>
    <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>


<!-- EDIT BATCH MODAL-->
<script type="text/ng-template" id="editBlockModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Seafood Batch</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset class="form-group">
        <div class="col-lg-12">
          <label>Product Type</label>
          <select class="form-control" ng-model="selectedProduct" ng-options="product.name for product in products"></select>
          <small class="text-muted">Item must be added under Products tab.</small>
        </div>
        <div class="col-lg-12">
          <label>Quantity</label>
          <input class="form-control" type="number" ng-model="quantity" placeholder="ex. 4000">
          <small class="text-muted">Please enter a numerical value.</small>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-status-success" type="button" ng-click="ok()">Save</button>
    <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>


<!-- DELETE BATCH MODAL-->
<script type="text/ng-template" id="deleteBlockModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Delete Batch</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this seafood batch?</p>
  </div>
  <div class="modal-footer">
    <button class="btn-status-success" type="button" ng-click="ok()">Yes</button>
    <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>


<!-- MOVE BATCH MODAL-->
<script type="text/ng-template" id="moveBlockModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Move Inventory Batch</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset class="form-group">
        <div class="col-lg-8 col-lg-offset-2">
      </fieldset>
      <fieldset class="form-group">
        <div class="col-lg-12">
          <label>Choose how much inventory to move: </label>
          <input class="form-control" ng-model="quantity" type="number" placeholder="ex. 4000">
          <small class="text-muted"><b>{{getRemainingQuantity() + " " + block1.units}} remaining of {{block1.quantity + " " + block1.units}} in chosen stage.</b></small>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-lg-12">
          <label>Moving chosen inventory batch to: </label>
          <select ng-model="toStage" ng-options="stage as stage.self.name for stage in stages" class="form-control"></select>
          <small class="text-muted">Please select the target destination for your inventory.</small>
        </div>
      </fieldset>
    </form>
    </div>
    <div class="modal-footer">
      <button class="btn-status-success" type="button" ng-click="ok()">OK</button>
      <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </fieldset>
    </form>
  </div>
</script>


<!-- MOVE BATCH TO SALES MODAL-->
<script type="text/ng-template" id="moveBlockToSalesModal.html">

    <div class="modal-header">
        <h3 class="modal-title">Move Inventory Batch to Sales</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset class="form-group">
                <div class="col-lg-8 col-lg-offset-2">
            </fieldset>

            <fieldset class="form-group">
                <div class="col-lg-12">
                    <label>Choose how much inventory to move: </label>
                    <input class="form-control" ng-model="quantity" type="number" placeholder="ex. 4000">
                    <small class="text-muted">{{getRemainingQuantity() + " " + block1.units}} remaining of {{block1.quantity + " " + block1.units}} in chosen stage.</small>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="col-lg-12">
                    <label>Moving chosen inventory batch to: </label>
                    <select ng-model="toStage" ng-options="stage as stage.name for stage in stages" class="form-control"></select>
                    <small class="text-muted">Please select the target destination for your inventory.</small>
                </div>
            </fieldset>
        </form>
        </div>
        <div class="modal-footer">
            <button class="btn-status-success" type="button" ng-click="ok()">OK</button>
            <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </fieldset>
    </form>
    </div>
    <!--<div class="modal-footer">
      <button class="btn-status-success" type="button" ng-click="ok()">OK</button>
      <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>-->
</script>




<!-- VIEW BATCH DETAILS MODAL-->
<script type="text/ng-template" id="viewDetailsModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Inventory Batch Details</h3>
  </div>
  <div class="modal-body">
    <div class="panel-body">
      <h4 class="text-center">Initial Catch Audit</h4>
      <hr class="short">
      <div class="table-responsive">
        <table class="table tableWhite">
          <thead>
            <tr>
              <th>Product Type</th>
              <th>Quantity</th>
              <th>Catch Date</th>
              <th>Catch Region</th>
              <th>Caught By</th>
              <th>Catch Type</th>
              <th>Water Depth</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{block.productType.name}}</td>
              <td>{{block.quantity + " " + block.units}}</td>
              <td>{{block.catchDate | date:"M/d/y"}}</td>
              <td>{{block.catchRegion}}</td>
              <td>{{block.caughtBy}}</td>
              <td>{{block.catchType}}</td>
              <td>{{block.waterDepth}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-body">
      <h4 class="text-center">Lot History</h4>
      <hr class="short">
      <div class="table-responsive">
        <table class="table tableWhite">
          <thead>
            <tr>
              <th>Operation</th>
              <th>Date</th>
              <th>Location</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in history.events track by $index">
              <td>{{history.events[history.events.length-1-$index].operation}}</td>
              <td>{{getDate([history.events.length-1-$index])}}</td>
              <td>{{getStageName([history.events.length-1-$index])}}</td>
              <td>{{quantities[$index] + " " + units[history.events.length-1-$index]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn-status-default" type="button" ng-click="cancel()">Close</button>
  </div>
  </div>
</script>
