<div class="col-lg-10 main">
  <div class="card-panel">
    <div class="card-panel-header">
      <h2>Creating a Custom Supply Chain</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <iframe width="560" height="315"  src="https://www.youtube.com/embed/ga762iYZjLk?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <h4>Please refer to this video for a demonstration on how to add a custom supply chain.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
