<div ng-controller="OverviewCtrl">
  <div class="col-lg-10 main">
    <div class="col-lg-6">
      <div class="card-panel">
        <div class="card-panel-header">
          <h2>Overdue payments</h2>
        </div>
        <div class="table-responsive table-card-responsive">
          <table class="table ">
            <thead>
              <tr>
                <th>Invoice #</th>
                <th>Payment Method</th>
                <th>View Details</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in overdueOrders">
                <td data-label="Invoice #">{{order.invoiceNumber}}</td>
                <td data-label="Pay Method">{{order.paymentMethod}}</td>
                <td data-label="Details">
                    <button ng-click="viewOrderDetail(order)" class="btn-status-default"><i class="fa fa-search"></i> View Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-panel">
        <div class="card-panel-header">
          <h2>Payments Due in One Week</h2>
        </div>
        <div class="table-responsive table-card-responsive">
          <table class="table ">
            <thead>
              <tr>
                <th>Invoice #</th>
                <th>Payment Method</th>
                <th>View Details</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in upcomingOrders">
                <td data-label="Invoice #">{{order.invoiceNumber}}</td>
                <td data-label="Pay Method">{{order.paymentMethod}}</td>
                <td data-label="Details">
                    <button ng-click="viewOrderDetail(order)" class="btn-status-default"><i class="fa fa-search"></i> View Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- VIEW ORDER DETAIL MODAL-->
<script type="text/ng-template" id="viewOrderDetailModal.html">
  <div class="modal-header">
    <h3 class="modal-title text-center">Invoice #{{order.invoiceNumber}}</h3>

<div class="card-panel-options">
  <div ng-switch="pdfStatus">
    <div ng-switch-default><a class="btn-status-default" href="javascript:void(0);" ng-click="getPDF()"><i class="fa fa-file-pdf-o"></i> Export to PDF</a></div>
    <div ng-switch-when="loading"><a class="btn-status-success" href="javascript:void(0);">Loading...</a></div>
  </div>
</div>
  </div>
  <div class="modal-body">
    <div class="row modal-detail-container">
      <div class="col-lg-6">
        <h4>
          <span>Name:</span> {{order.customerName}}</h4>
        <h4>
          <span>Company:</span> {{order.company}}</h4>
        <h4>
          <span>Phone:</span> {{order.phone}}</h4>
        <h4>
          <span>Email:</span> {{order.email}}</h4>
        <h4>
          <span>Address:</span> {{order.address}}&nbsp;{{order.city}}&nbsp;{{order.state}}&nbsp;{{order.postal}}&nbsp;{{order.country}}</h4>
      </div>
      <div class="col-lg-6">
        <h4>
          <span>Order Date:</span> {{order.date | date:'M/d/yyyy' }}</h4>
        <h4>
          <span>Payment Method:</span> {{order.paymentMethod}}&nbsp;{{order.currency}}</h4>
        <h4>
          <span>Credit Terms:</span> {{order.creditTerms}}</h4>
        <h4>
          <span>Delivery Terms:</span> {{order.deliveryCharge}}&nbsp;{{deliveryTaxRate}}%</h4>

      </div>
    </div>
  </div>

  <div class="modal-body">
    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in order.items track by $index">
            <td data-label="Product">{{item.product.name}}</td>
            <td data-label="Unit Price">${{item.unitPrice}} / {{item.product.unit}}</td>
            <td data-label="Quantity">{{item.quantity}} {{item.product.unit}}</td>
            <td data-label="Subtotal">{{item.unitPrice * item.quantity}}</td>
          </tr>
          <tr>
            <td><b>Total</b></td>
            <td></td>
            <td></td>
            <td>${{getTotal()}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn-status-default" type="button" ng-click="dismiss()">Close</button>
  </div>
</script>
