<div ng-controller="SellingPointsCtrl">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header light-text">Sales Channels</h2>
    <div class="row placeholders">
      <div class="col-lg-8">
        <div class="container">
          <div class="panel-container">
            <div class="panel panel-default">
              <div class="panel-body">
                <button ng-click="addSellingPoint()" class="btn-status-success">Add</button>
                <button ng-click="editSellingPoint()" class="btn-status-default">Edit</button>
                <button ng-click="viewBlocks()" class="btn-status-default">View Inventory in Sales</button>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-responsive table-card-responsive">
                  <table class="table tableWhite">
                    <thead>
                      <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th>Channel Type</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="sellingPoint in sellingPoints track by $index">
                      <tr>
                        <!-- <td data-label="#">{{$index + 1}}</td> -->
                        <td data-label="Select">
                          <input type="radio" ng-model="$parent.selectedSellingPoint" ng-value="$index">
                        </td>
                        <td data-label="Name">&nbsp;{{sellingPoint.name}}</td>
                        <td data-label="Date Created">&nbsp;{{sellingPoint.dateCreated | date: 'short'}}</td>
                        <!-- TODO, just set type as first in list for now -->
                        <td data-label="Channel Type">&nbsp;{{sellingPoint.sellingTargets[0]}}</td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ADD SELLING POINT MODAL -->
<script type="text/ng-template" id="addSellingPointModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Add a Selling Point</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset class="form-group">
        <label>Name</label>
        <input class="form-control" ng-model="name" maxlength="45" placeholder="Name of sales channel...">
        <small class="text-muted">Maximum 45 characters.</small>
        <br>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="isEcommerceStage">Sell on e-commerce</label>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button ng-disabled="isSubmitButtonDisabled()" class="btn-status-success" type="button" ng-click="ok()">OK</button>
    <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>


<!-- EDIT SELLING POINT MODAL -->
<script type="text/ng-template" id="editSellingPointModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Selling Point</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset class="form-group">
        <label>New Selling Point Name</label>
        <input class="form-control" ng-model="sellingPoint.name" maxlength="45" placeholder="Name of sales channel...">
        <small class="text-muted">Maximum 45 characters.</small>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="isEcommerceStage"> Sell on e-commerce</label>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-status-success" type="button" ng-click="ok()">Save</button>
    <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>


<!-- VIEW INVENTORY IN SELLING POINT MODAL -->
<script type="text/ng-template" id="viewSellingPointBlocksModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Inventory in {{stageName}}</h3>
  </div>
  <div class="modal-footer">
    <button class="btn-status-default" type="button" ng-disabled="blocks.length==0" ng-click="moveBlock()">Move</button>
    <button class="btn-status-default" type="button" ng-disabled="blocks.length==0" ng-click="viewDetails()">Batch Detail</button>
    <button class="btn-status-danger" type="button" ng-disabled="blocks.length==0" ng-click="deleteBlock()">Delete</button>
  </div>
  <div class="modal-body">
    <div class="table-responsive table-card-responsive">
    <div class="tableWhite">
      <table class="table tableWhite">
        <thead>
          <tr>
            <th>Select</th>
            <!--<th>#</th>-->
            <th>Product Type</th>
            <th>Quantity</th>
            <th>Inventory Input Date</th>
          </tr>
        </thead>
        <tbody ng-repeat="block in blocks track by $index">
          <tr>
            <td data-label="Select">
              <input type="radio" ng-model="$parent.selectedBlock" ng-value="$index">
            </td>
            <!--<td data-label="#">{{$index + 1}}</td>-->
            <td data-label="Product">&nbsp;{{getProductDisplay(block)}}</td>
            <td data-label="Quantity">{{block.quantity + " " + block.units}}</td>
            <td data-label="Date Added">{{block.dateCreated | date: 'short'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn-status-default" type="button" ng-click="cancel()">Close</button>
  </div>
</script>


<!-- MOVE INVENTORY IN SELLING POINT MODAL -->
<script type="text/ng-template" id="moveBlockModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Move Inventory Batch</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset class="form-group">
        <div class="col-lg-8 col-lg-offset-2">
      </fieldset>
      <fieldset class="form-group">
        <label>Choose how much inventory to move: </label>
        <input class="form-control" ng-model="quantity" type="number" placeholder="ex. 4000">
        <small class="text-muted">{{getRemainingQuantity() + " " + block1.units}} remaining of {{block1.quantity + " " + block1.units}} in chosen stage.</small>
      </fieldset>
      <fieldset class="form-group">
        <label>Moving chosen inventory batch to stage to supply chain: </label>
        <select ng-model="selectedSupplyChain" ng-options="supplyChain as supplyChain.name for supplyChain in supplyChains" class="form-control"></select>
        <small class="text-muted">Please select the target supply chain for your inventory.</small>
      </fieldset>
      <fieldset class="form-group">
        <label>Moving chosen inventory batch to stage: </label>
        <select ng-model="toStage" ng-options="stage as stage.self.name for stage in selectedSupplyChain.stages" class="form-control"></select>
        <small class="text-muted">Please select the target stage for your inventory.</small>
      </fieldset>

    </form>
    </div>
    <div class="modal-footer">
      <button class="btn-status-success" type="button" ng-click="ok()">OK</button>
      <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </fieldset>
    </form>
  </div>
</script>


<!-- DELETE INVENTORY IN SELLING POINT MODAL -->
<script type="text/ng-template" id="deleteBlockModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Delete Batch</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this batch?</p>
  </div>
  <div class="modal-footer">
    <button class="btn-status-success" type="button" ng-click="ok()">Yes</button>
    <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>


<!-- VIEW INVENTORY BATCH DETAILS IN SELLING POINT MODAL -->
<script type="text/ng-template" id="viewDetailsModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Inventory Batch Details</h3>
  </div>

  <div class="modal-body">
      <h4 class="text-center">Initial Catch Audit</h4>
      <hr class="short">
      <div class="table-responsive table-card-responsive">
        <table class="table tableWhite">
          <thead>
            <tr>
              <th>Product Type</th>
              <th>Quantity</th>
              <th>Catch Date</th>
              <th>Catch Region</th>
              <th>Caught By</th>
              <th>Catch Type</th>
              <th>Water Depth</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Product">&nbsp;{{block.productType.name}}</td>
              <td data-label="Quantity">{{block.quantity + " " + block.units}}</td>
              <td data-label="Catch Date">{{block.catchDate | date:"M/d/y"}}</td>
              <td data-label="Region">{{block.catchRegion}}</td>
              <td data-label="Catcher">{{block.caughtBy}}</td>
              <td data-label="Method">{{block.catchType}}</td>
              <td data-label="Depth">{{block.waterDepth}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <div class="modal-body">
    <h4 class="text-center">Lot History</h4>
    <hr class="short">
    <div class="table-responsive table-card-responsive">
      <table class="table tableWhite">
        <thead>
          <tr>
            <th>Operation</th>
            <th>Date</th>
            <th>Location</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in history.events track by $index">
            <td data-label="Operation">{{history.events[history.events.length-1-$index].operation}}</td>
            <td data-label="Date">&nbsp;{{getDate([history.events.length-1-$index])}}</td>
            <td data-label="Location">&nbsp;{{getStageName([history.events.length-1-$index])}}</td>
            <td data-label="Quantity">&nbsp;{{quantities[$index] + " " + units[history.events.length-1-$index]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn-status-default" type="button" ng-click="cancel()">Close</button>
  </div>
  </div>
</script>
