<div ng-controller="SellingPointsCtrl">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header light-text">Sales Channels</h2>
    <div class="row placeholders">
      <div class="col-lg-8">
        <div class="container">
          <div class="panel-container">
            <div class="panel panel-default">
              <div class="panel-body">
                <button ng-click="addSellingPoint()" class="btn-status-default">Add Sales Channel</button>
                <button ng-click="editSellingPoint()" class="btn-status-default">Edit Sales Channel</button>
                <button ng-click="viewBlocks()" class="btn-status-default">View Inventory in Sales</button>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th>Channel Type</th>
                        <th>Select</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="sellingPoint in sellingPoints track by $index">
                      <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{sellingPoint.name}}</td>
                        <td>{{sellingPoint.dateCreated | date: 'short'}}</td>
                        <!-- TODO, just set type as first in list for now -->
                        <td>{{sellingPoint.sellingTargets[0]}}</td>
                        <td>
                          <input type="radio" ng-model="$parent.selectedSellingPoint" ng-value="$index">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ADD SELLING POINT MODAL -->
<script type="text/ng-template" id="addSellingPointModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Add a Selling Point</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset class="form-group">
        <div class="col-lg-12">
          <label>Name</label>
          <input class="form-control" ng-model="name" maxlength="25" placeholder="Name of sales channel...">
          <small class="text-muted">Maximum 25 characters.</small>
          <br>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="isEcommerceStage">Sell on e-commerce</label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-status-success" type="button" ng-click="ok()">OK</button>
    <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>


<!-- EDIT SELLING POINT MODAL -->
<script type="text/ng-template" id="editSellingPointModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Selling Point</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset class="form-group">
        <div class="col-lg-12">
          <label>New Selling Point Name</label>
          <input class="form-control" ng-model="sellingPoint.name" maxlength="25" placeholder="Name of sales channel...">
          <small class="text-muted">Maximum 25 characters.</small>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="isEcommerceStage"> Sell on e-commerce</label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-status-success" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>


<!-- VIEW INVENTORY IN SELLING POINT MODAL -->
<script type="text/ng-template" id="viewSellingPointBlocksModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Inventory in Selling Point</h3>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Product Type</th>
                <th>Quantity</th>
                <th>Date Created</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody ng-repeat="block in blocks track by $index">
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{block.productType.name}}</td>
                <td>{{block.quantity + " " + block.units}}</td>
                <td>{{block.dateCreated | date:"yyyy-MM-dd hh:mm a"}}</td>
                <td>
                  <input type="radio" ng-model="$parent.selectedBlock" ng-value="$index">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn-status-default" type="button" ng-click="cancel()">Dismiss</button>
  </div>
</script>
