<div ng-controller="NavTopCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-model="fisheryName" ui-sref=".default.overview">
          <img src="https://s3.amazonaws.com/coastline-us/coastline-logo-text-min.png" class="logo" alt="coastline logo">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" ng-init="isCollapsed=true" uib-collapse="isCollapsed">
        <ul class="nav navbar-nav nav-pills navbar-right">
          <li class="hide"><a ui-sref=".default.overview">Overview</a></li>
          <li class="hide"><a ui-sref=".default.products">Products</a></li>
          <li class="hide"><a ui-sref=".default.supply-chain.menu">Supply Chain</a></li>
          <li class="hide"><a ui-sref=".default.inventory.menu">Inventory</a></li>
          <li class="hide"><a ui-sref=".default.sales-management.track">Sales</a></li>
          <li class="hide"><a ui-sref=".default.orders.menu">Orders</a></li>
          <li class="hide"><a ui-sref=".default.customers.menu">Customers</a></li>

          <li><a ui-sref=".settings.general">Settings</a></li>
          <li><a ui-sref=".help.overview">Help</a></li>
          <li><a ng-click="logout()" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div ui-view></div>
