<div class="col-sm-3 col-md-2 sidebar">
  <ul ng-controller="SideNavCtrl" class="nav nav-sidebar">
    <li><a ng-class="{activeTab: state.includes('dashboard.settings.general')}" ui-sref=".general">General</a></li>
    <li><a ng-class="{activeTab: state.includes('dashboard.settings.fishery')}" ui-sref=".fishery">Fishery</a></li>
    <li><a ng-class="{activeTab: state.includes('dashboard.settings.users')}" ui-sref=".users">Users</a></li>
    <li><a ui-sref=".security" ng-class="{activeTab: state.includes('dashboard.settings.security')}">Security</a></li>
    <li><a ui-sref=".ecommerce" ng-class="{activeTab: state.includes('dashboard.settings.ecommerce')}">Ecommerce</a></li>

  </ul>
</div>


<div class="col-lg-12">
  <div class="mobile-navigation text-center">
    <a ui-sref=".general" ng-disabled="isInviteDisabled" class="btn-status-default">General</a>
    <a ui-sref=".fishery" ng-disabled="isInviteDisabled" class="btn-status-default">Fishery</a>
    <a ui-sref=".users" ng-disabled="isInviteDisabled" class="btn-status-default">Users</a>
    <a ui-sref=".security" ng-disabled="isInviteDisabled" class="btn-status-default">Security</a>
    <a ui-sref=".ecommerce" ng-disabled="isInviteDisabled" class="btn-status-default">Ecommerce</a>
  </div>
</div>

<!-- <div class="col-lg-12 mobile-nav-panel">
  <div class="row placeholders">
    <div class="col-lg-12 col-centered">
      <div class="container">
        <div class="panel-container">
          <a ui-sref=".general" ng-disabled="isInviteDisabled" class="btn-status-default">General</a>
          <a ui-sref=".fishery" ng-disabled="isInviteDisabled" class="btn-status-default">Fishery</a>
          <a ui-sref=".users" ng-disabled="isInviteDisabled" class="btn-status-default">Users</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div ui-view></div>
