<div class="col-lg-10 main">
  <div class="card-panel">
    <div class="card-panel-header">
      <h2>Adding an Inventory Batch</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/nbjY4xEm8-k?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <h4>Please refer to this video for a demonstration on how to add an inventory batch.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="card-panel">
    <div class="card-panel-header">
      <h2>Moving an Inventory Batch</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/69UXciBY2gA?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <h4>Please refer to this video for a demonstration on how to move your inventory batches.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
