<div class="col-lg-12">
  <h2 class="page-header light-text text-center"></h2>
  <div class="row placeholders">
    <div class="col-lg-8">
      <div class="container">
        <div class="panel-container">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="panel-heading">
                <h3>Settings Panel</h3>
                <hr class="short">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
