
<div ng-controller="OrderDisplayCtrl">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header light-text">Manage Orders</h2>
    <div class="row placeholders">
      <!--<div class="col-lg-8">-->
        <div class="container">
          <div class="panel-container">
<!-- DELETE FOR DEMO
            <div class="panel panel-default">
              <div class="panel-body alignleft">

                <button ng-click="addStage()" class="btn-dashboard">Print Invoice</button>
                <button ng-click="editStage()" class="btn-dashboard">Edit Order</button>
                <button class="btn-dashboard">View Details</button>
                <button class="btn-dashboard"><i class = "fa fa-filter"></i></button>
                <input type="text" name="search" placeholder="Search for an item" class="search">

              </div>
            </div>  -->
            <div class="panel panel-body">
              <!--
              <div class="panel-scroll">-->
                <div class="table-responsive">
                  <table class="table tableWhite">
                    <thead>
                      <tr>
                        <th>Invoice #</th>
                        <th>Payment Method</th>
                        <th>Status</th>
                        <!-- <th>Date (MM/DD/YYYY)</th> -->
                        <th>Total Amount</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="order in orders track by $index">
                        <td>{{$index+1}}</td>
                        <td>Cash</td>
                        <td>Outstanding</td>
                        <!-- <td>1/13/2016</td> -->
                        <td>${{totals[$index]}}</td>
                        <td>
                          <div class="alignright">
                            <button ng-click="viewOrderDetail(order)" class="btn-dashboard">View Details</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              <!--</div>-->
            </div>
          </div>
        </div>
      <!--</div>-->
    </div>
  </div>
</div>



<script type="text/ng-template" id="viewOrderDetailModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Order Detail - {{order.date.substring(0,10)}}</h3>
    </div>

    <div class="modal-body">
        <p>Name: {{order.firstName}} {{order.lastName}}, {{order.phone}}</p>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Item Summary</h3>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Cost</th>
              </tr>
            </thead>
            <tbody ng-repeat="item in order.items track by $index">
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{item.product.name}}</td>
                <td>${{item.product.unitPrice}} / {{item.product.unit}}</td>
                <td>{{item.product.unitPrice * item.quantity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


    <div class="modal-footer">
        <button class="btn-dashboard-green" type="button" ng-click="dismiss()">OK</button>
    </div>
</script>
