<div ng-controller="SupplyChainCreateCtrl">
  <!-- <div class="col-lg-10 main" ng-controller="TrackInventoryMenuCtrl"> -->
    <div class="card-panel">
      <div class="card-panel-header">
        <h2>Supply Chains</h2>
      </div>
      <form ng-submit="createSupplyChain()">
        <fieldset class="form-group">
          <br>
          <div class="col-lg-8 col-lg-offset-2">
            <label>Name of Supply Chain</label>
            <input class="form-control" ng-model="name" placeholder="ex. Joseph's Supply Chain">
            <small class="text-muted">Maximum 30 characters.</small>
          </div>
        </fieldset>
        <div class="text-center">
        <button ng-disabled="isSubmitButtonDisabled()" type="submit" class="btn-status-success">Submit</button>
        <button ui-sref="dashboard.default.supply-chain.menu" type="submit" class="btn-status-danger">Cancel</button>
      </div>
      </form>
      <br>
    </div>
  <!-- </div> -->
</div>
