<div ng-controller="FisherySettingsCtrl">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header light-text">Fishery Settings</h2>
    <div class="row placeholders">
      <div class="col-lg-8">
        <div class="container">
          <div class="panel-container">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="panel-setting">
                  <form>
                    <div class="row">
                      <div class="col-lg-6">
                        <fieldset class="form-group">
                          <div class="row">
                            <div class="col-lg-3">
                              <label>Name</label>
                            </div>
                            <div class="col-lg-9">
                              <input class="form-control" ng-model="name" type="text"></input>
                              <small class="text-muted">Change the name of your fishery.</small>
                            </div>
                          </div>
                        </fieldset>

                        <fieldset class="form-group">
                          <div class="row">
                            <div class="col-lg-3">
                              <label>City/Town</label>
                            </div>
                            <div class="col-lg-9">
                              <input class="form-control" ng-model="city" type="text" placeholder="New York"></input>
                              <small class="text-muted">Change the city/town of your fishery.</small>
                            </div>
                          </div>
                        </fieldset>

                        <fieldset class="form-group">
                          <div class="row">
                            <div class="col-lg-3">
                              <label>Main Phone</label>
                            </div>
                            <div class="col-lg-9">
                              <input class="form-control" ng-model="phone" placeholder="555-555-5555" type="text"></input>
                              <small class="text-muted">Change the main phone number of your fishery.</small>
                            </div>
                          </div>
                        </fieldset>

                        <fieldset class="form-group">
                          <div class="row">
                            <div class="col-lg-3">
                              <label>Fax</label>
                            </div>
                            <div class="col-lg-9">
                              <input class="form-control" ng-model="faxPhone" placeholder="555-555-5555" type="text"></input>
                              <small class="text-muted">Change the fax number of your fishery.</small>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <div class="col-lg-6">
                        <fieldset class="form-group">
                          <div class="row">
                            <div class="col-lg-3">
                              <label>Business Address</label>
                            </div>
                            <div class="col-lg-9">
                              <input class="form-control" ng-model="address" type="text" placeholder="80 Whycliff Road"></input>
                              <small class="text-muted">Change the address of your fishery.</small>
                            </div>
                          </div>
                        </fieldset>

                        <fieldset class="form-group">
                          <div class="row">
                            <div class="col-lg-3">
                              <label>Postal/Zip Code</label>
                            </div>
                            <div class="col-lg-9">
                              <input class="form-control" ng-model="postalCode" type="text" placeholder="i.e. N6G 1N1 or 48120"></input>
                              <small class="text-muted">Change the postal/zip code of your fishery.</small>
                            </div>
                          </div>
                        </fieldset>

                        <fieldset class="form-group">
                          <div class="row">
                            <div class="col-lg-3">
                              <label>Sales Phone</label>
                            </div>
                            <div class="col-lg-9">
                              <input class="form-control" ng-model="salesPhone" placeholder="555-555-5555" type="text"></input>
                              <small class="text-muted">Change the sales phone number of your fishery.</small>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div align="right" class="panel-setting">
                    <button ng-click="saveChanges()" class="btn-status-success">Save Changes</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
