<!-- FILTER ORDERS MODAL-->
<script type="text/ng-template" id="views/modals/analytics-filter.html">
    <div class="modal-header">
      <h3 class="modal-title">Filter Order Criteria</h3>
    </div>
    <div class="modal-body">
      <form>
         <fieldset class="form-group">
           <div class="col-lg-6">
             <label>Product Name</label>
             <input class="form-control" type="text" ng-model="productName" placeholder="">
             <small class="text-muted">[Optional] Maximum 30 characters</small>
           </div>
         </fieldset>
        <fieldset class="form-group">
            <div class="col-lg-6">
            <label>Date Range - From:</label>
            <input class="form-control" type="date" ng-model="dateStart" placeholder="2016-01-12">
            <small class="text-muted">Filter Range (Beginning Date)</small>
          </div>
          <div class="col-lg-6">
            <label>Date Range - To:</label>
            <input class="form-control" type="date" ng-model="dateEnd" placeholder="2016-01-14">
            <small class="text-muted">Filter Range (End Date)</small>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-disabled="isFilterDisabled()" class="btn-status-success" type="button" ng-click="ok()">Filter</button>
      <button class="btn-status-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
