/*
 * Base structure
 */
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Lato+Light');

//
// $color1: #FDFEFE
// $color2: #44AFA9
// $color3: #354059
// $color4: #D7E0E3
// $color5: #66CFCB
// $color6: #818C9C
// $color7: #A8B4BF
$primary-background-color: #EEEEEE;

// $primary-background-color: #EEEEEE;
$secondary-background-color: #E8E8E8;
$background-color-3: #DDD;
$inverse-background-color: #fff;
$primary-font-color: #000;
$hyperlink-font-color: #fff;
$primary-border-color: #CFD8DC;
$primary-font: "Lato Light", "Open Sans", "Helvetica", "Roboto";
$navbar-color: #01579B;
$side-nav-color: #CFD8DC;
$btn-color: #01579B;
$btn-hover-color: #1A237E;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: $primary-background-color;
  font-family: $primary-font;
  color: $primary-font-color;
}
.panel {
  max-width: 100%;
  height: 100%;
  border-color: $primary-border-color;
  background-color: $secondary-background-color;
  .panel-body {
    padding: none;
    background-color: $secondary-background-color;
    border-color: $primary-border-color;
    border-radius: 5px;
    .btn {
      background-image: linear-gradient(#fcfcfc, #eee);
      border: 1px solid #d5d5d5;
      border-radius: 3px;
      &:active {
        background-image: linear-gradient(#eee, #fcfcfc);
        outline: none
      }
      &:focus {
        outline: none
      }

      // &:disabled {
      // }
    }
  }
  .panel-scroll {
    @extend .panel-body;
    height: 500px;
    overflow-y: scroll;
  }
}
/*
 * Global add-ons
 */
.vis-network {
  background-color: $secondary-background-color;
  width: 100%;
  height: 100%;
}
.vis-network .item {
  /*background-color: #008CBA;*/
  /*border-color: #008CBA;*/
  /*color: #ffffff;*/
  /*font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;*/
  /*font-kerning: auto;*/
  /*font-size: 13px;*/
  /*font-style: normal;*/
  /*font-variant: normal;*/
  /*font-variant-ligatures: normal;*/
  /*font-weight: normal;*/
}
.vis-network .item.green {
  background-color: green;
  border-color: green;
  color: #ffffff;
}
.vis-network .item.red {
  background-color: red;
  border-color: red;
  color: #ffffff;
}
.vis-network .item.orange {
  background-color: orange;
  border-color: orange;
}
.vis-network .item.magenta {
  background-color: magenta;
  border-color: magenta;
  color: #ffffff;
}
.vis-network .item.past {
  filter:alpha(opacity=50);
  opacity: 0.5;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  background-color: $navbar-color;
  /*
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  */
  color: $primary-font-color;
}
.navbar-header .navbar-brand {
  margin: 10px 10px 10px 15px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;

  img {
    display: inline-block;
    margin-top: -5px;
    margin-left: 10px;
  }
}

.navbar-collapse .nav li {
  margin: 10px 5px;
  @include border-radius(2px);
  &:hover {
    background-color: $btn-hover-color;
  }
  a {
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .hide {
    display: block!important;
    visibility: visible;
    display: none;
  }

}

iframe {
  max-width: 100%;
  border-radius: 5px;
}


th {
  text-align: center;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: $side-nav-color;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  li {
    h1 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 18px;
    }
    a {
      color: $primary-font-color;
      font-weight: 600;
      &:hover {
        background-color: $navbar-color;
        @include border-radius(2px);
      }
      &:active {
        background-color: $btn-color;
        color: white;
      }
    }
    a.activeTab {
      background-color: $btn-color;
      @include border-radius(2px);

      //   a {
      color: #fff;

      //   }
    }
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px 5px;
  }
}
.nav>li>a:focus,
.nav>li>a:hover,
.nav>li>a:active {
  text-decoration: none;
  @include border-radius(2px);
  background-color: $btn-color;
  color: #fff;
}
/*
 * Main content
 */
.main {
  padding: 20px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 100%;
  }
}
.main .page-header {
  margin-top: 20px;
  font-weight: 400;
  border-color: $primary-border-color;
  max-width: 100%;

}
.btn-dashboard {
  @include border-radius(2px);
  color: $secondary-background-color;
  border-style: none;
  background-color: $btn-color;
  border-color: $btn-color;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px 2px 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  /*
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  */
  outline: none
}


.btn-dashboard:hover,
.btn-dashboard:focus,
.btn-dashboard.focus,
.btn-dashboard:active,
.btn-dashboard.active,
.open > .dropdown-toggle.btn-dashboard {
  color: $secondary-background-color;
  background-color: $btn-hover-color;
  border-color: $btn-hover-color;
  outline: none
  /*
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  */
}
.btn-dashboard:active,
.btn-dashboard.active,
.open > .dropdown-toggle.btn-dashboard {
  background-image: none;
}
.btn-dashboard.disabled,
.btn-dashboard[disabled],
fieldset[disabled] .btn-dashboard,
.btn-dashboard.disabled:hover,
.btn-dashboard[disabled]:hover,
fieldset[disabled] .btn-dashboard:hover,
.btn-dashboard.disabled:focus,
.btn-dashboard[disabled]:focus,
fieldset[disabled] .btn-dashboard:focus,
.btn-dashboard.disabled.focus,
.btn-dashboard[disabled].focus,
fieldset[disabled] .btn-dashboard.focus,
.btn-dashboard.disabled:active,
.btn-dashboard[disabled]:active,
fieldset[disabled] .btn-dashboard:active,
.btn-dashboard.disabled.active,
.btn-dashboard[disabled].active,
fieldset[disabled] .btn-dashboard.active {
  color: #fff;
  background-color: $btn-color;
  border-radius: 4px;
  opacity: 0.5;
  outline: none
}
.btn-dashboard-red {
  @include border-radius(2px);
  color: $secondary-background-color;
  border-style: none;
  background-color: #F44336;
  border-color: #F44336;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none
  /*
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  */
}
.btn-dashboard-red:hover,
.btn-dashboard-red:focus,
.btn-dashboard-red.focus,
.btn-dashboard-red:active,
.btn-dashboard-red.active,
.open > .dropdown-toggle.btn-dashboard-red {
  color: $secondary-background-color;
  background-color: #B71C1C;
  border-color: #B71C1C;
  outline: none
  /*
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  */
}
.btn-dashboard-red.disabled,
.btn-dashboard-red[disabled],
fieldset[disabled] .btn-dashboard-red,
.btn-dashboard-red.disabled:hover,
.btn-dashboard-red[disabled]:hover,
fieldset[disabled] .btn-dashboard-red:hover,
.btn-dashboard-red.disabled:focus,
.btn-dashboard-red[disabled]:focus,
fieldset[disabled] .btn-dashboard-red:focus,
.btn-dashboard-red.disabled.focus,
.btn-dashboard-red[disabled].focus,
fieldset[disabled] .btn-dashboard-red.focus,
.btn-dashboard-red.disabled:active,
.btn-dashboard-red[disabled]:active,
fieldset[disabled] .btn-dashboard-red:active,
.btn-dashboard-red.disabled.active,
.btn-dashboard-red[disabled].active,
fieldset[disabled] .btn-dashboard-red.active {
  color: $secondary-background-color;
  background-color: #B71C1C;
  border-color: #B71C1C;
  opacity: 0.3;
  outline: none
}
.btn-dashboard-green {
  @include border-radius(2px);
  color: $secondary-background-color;
  border-style: none;
  background-color: #4CAF50;
  border-color: #4CAF50;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none
  /*
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  */
}
.btn-dashboard-green:hover,
.btn-dashboard-green:focus,
.btn-dashboard-green.focus,
.btn-dashboard-green:active,
.btn-dashboard-green.active,
.open > .dropdown-toggle.btn-dashboard-green {
  color: $secondary-background-color;
  background-color: #1B5E20;
  border-color: #1B5E20;
  outline: none
  /*
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  */
}

.btn-dashboard-green.disabled,
.btn-dashboard-green[disabled],
fieldset[disabled] .btn-dashboard-green,
.btn-dashboard-green.disabled:hover,
.btn-dashboard-green[disabled]:hover,
fieldset[disabled] .btn-dashboard-green:hover,
.btn-dashboard-green.disabled:focus,
.btn-dashboard-green[disabled]:focus,
fieldset[disabled] .btn-dashboard-green:focus,
.btn-dashboard-green.disabled.focus,
.btn-dashboard-green[disabled].focus,
fieldset[disabled] .btn-dashboard-green.focus,
.btn-dashboard-green.disabled:active,
.btn-dashboard-green[disabled]:active,
fieldset[disabled] .btn-dashboard-green:active,
.btn-dashboard-green.disabled.active,
.btn-dashboard-green[disabled].active,
fieldset[disabled] .btn-dashboard-green.active {
  color: #fff;
  background-color: #4CAF50;
  border-radius: 4px;
  opacity: 0.6;
  outline: none
}


.btn-dashboard-yellow {
  @include border-radius(2px);
  color: $secondary-background-color;
  border-style: none;
  background-color: #7c7a07;
  border-color: #7c7a07;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none
  /*
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  */
}
.btn-dashboard-yellow:hover,
.btn-dashboard-yellow:focus,
.btn-dashboard-yellow.focus,
.btn-dashboard-yellow:active,
.btn-dashboard-yellow.active,
.open > .dropdown-toggle.btn-dashboard-yellow {
  color: $secondary-background-color;
  background-color: #1B5E20;
  border-color: #1B5E20;
  outline: none
  /*
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  */
}
input.search {
  @include border-radius(2px);
  padding: 8px 15px;
  border-style: none;
  background-color: $primary-border-color;
  outline: none
}
.panel {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0 8px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.04) 0 8px 8px 0;
}
.panel-green {
  background-color: $side-nav-color;
}
.huge {
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
.panel-footer {
  background-color: #EEEEEE;
}
hr.short {
  width: 90%;
  border-width: 1px;
  border-style: solid;
  border-color: $side-nav-color;
  opacity: 0.9;
}
div.modal-text {
  width: 80%;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  border-color: grey;
  border-radius: 5px;
}
table.tableWhite {
  background-color: #f3f3f3;
  th {
    background-color: #eeeeee;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    vertical-align: middle;
  }
  td {
    vertical-align: bottom;
  }
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
  text-align: center;
}
select {
  padding: 6px 10px;
  border: 1px solid #bfbfbf;
  /*
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

img.instructionImg {
  max-width: 100%;
  border-radius: 5px;
}
